@define-color colorPrimary #FA0080;
@define-color textColorPrimary #fafafa;

.titlebar {
    padding: 6px 6px;
}

.repeat-button {
    border-bottom: none;
    padding: 0 8px;
    border-radius: 0;
    border: none;
    box-shadow: none; 
    background: transparent;
}

.actionbar {
    color: #ffffff;
    background: linear-gradient(#fa0080, #db0070);
    border-top: 1px solid darker(#FA0080);
}

.actionbar image {
    color: #FAFAFA;
}

.byte-seekbar highlight {
    background-color: #FA0080;
}

.track-row:selected {
    background-color: #FA0080;
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: @color_text;
}

.slider-button {
    padding: 1px 6px 1px 6px;
    border-radius: 50px;
    border: none;
}

.slider-button.active {
    color: #FA0080;
}

.lyric text {
    background-color: @bg_color;
}
