@define-color colorPrimary #fe2851;
/*@define-color colorPrimary #f8362d;*/
@define-color textColorPrimary #ffffff;
@define-color colorAccent #fe2851;

.titlebar {
    padding: 6px 6px;
}

.repeat-button {
    border-bottom: none;
    padding: 0 8px;
    border-radius: 0;
    border: none;
    box-shadow: none; 
    background: transparent;
}

.byte-seekbar highlight {
    background-color: @colorPrimary;
}

.track-row {
    background-color: transparent;
}

.track-row:selected {
    background-color: transparent;
    color: @text_color;
}

.track-row button {
    background-color: @base_color;
    color: @colorPrimary;
}

.track-row:focus button image {
    background-color: @base_color;
    color: @colorPrimary;
}

.track-queue-row:selected {
    background-color: transparent;
    color: @text_color;
}

.slider-button {
    padding: 3px;
    border-radius: 50px;
    border: none;
}

.slider-button.active {
    color: @colorPrimary;
}

.header-label {
    color: @colorPrimary;
}

.sub-header-label {
    font-size: 21px;
}

.button-color {
    color: @colorPrimary;
}

.w-round {
    border-radius: 0px 0px 6px 6px;
}

.font-bold {
    font-weight: bold;
}

.search-entry:focus {
    border-color: alpha (@colorPrimary, 0.8);
}

.search-entry {
    border-color: alpha (@colorPrimary, 0.8);
    background-image:
        linear-gradient(
            to bottom,
            shade (
                @base_color,
                0.93
            ),
            shade (
                @base_color,
                0.97
            )
        );
    color: @colorPrimary;
    border-radius: 4px;
}

.search-entry image.left {
    color: @colorPrimary;
}

.search-entry image.right {
    color: @colorPrimary;
}

.track-cover {
    border-radius: 12px;
}

.album-cover {
    border-radius: 6px;
}

.artist-cover {
    border-radius: 50%;
    border: 1px solid alpha (#000, 0.35);
    box-shadow:
        inset 0 0 0 1px alpha (#fff, 0.05),
        inset 0 1px 0 0 alpha (#fff, 0.45),
        inset 0 -1px 0 0 alpha (#fff, 0.15),
        0 1px 3px alpha (#fff, 0.12),
        0 1px 2px alpha (#000, 0.24);
}

.playlist-cover {
    border-radius: 6px;
    border: 1px solid alpha (#000, 0.35);
    box-shadow:
        inset 0 0 0 1px alpha (#fff, 0.05),
        inset 0 1px 0 0 alpha (#fff, 0.45),
        inset 0 -1px 0 0 alpha (#fff, 0.15),
        0 1px 3px alpha (#fff, 0.12),
        0 1px 2px alpha (#000, 0.24);
}

.album-child {
    background-color: transparent;
}

.album-child:focus {
    background-color: transparent;
    color: @text_color;
}

.radio-search-row:selected {
    background-color: transparent;
}

.quick-find {
    border-radius: 6px;
    border: 1px solid alpha (#000, 0.3);
    background-color: @base_color;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin: 12px;
    text-shadow: none;
}

.quick-find-entry:focus {
    border-color: alpha (@colorPrimary, 0.8);
}

.quick-find-entry {
    border-color: alpha (@colorPrimary, 0.8);
    box-shadow: none;
    background-image: none;
    background: #F6F8FB;
    border-radius: 4px;
    color: @colorPrimary;
}

.quick-find-entry image.left {
    color: @colorPrimary;
}

.quick-find-entry image.right {
    color: @colorPrimary;
}

selection {
    background-color: alpha (@colorPrimary, 0.75);
    color: @selected_fg_color;
    text-shadow: none;
}

.quick-find-cancel {
    color: @colorPrimary;
    font-weight: bold;
}

.queue {
    border-radius: 6px;
    border: 1px solid alpha (#000, 0.3);
    background-color: @base_color;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    text-shadow: none;
}

.queue-title {
    background-color: @colorPrimary;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid @colorPrimary;
    color: #fff;
    padding: 3px 0px 3px 6px;
    font-weight: bold;
}

.queue-title button {
    padding: 0px;
    color: #ffffff;
}

.font-album-artist {
    font-weight: 600;
    color: @colorPrimary;
}

.home-button {
    background-color: #f7f7f7;
    color: @colorPrimary;
    border-radius: 6px;
    font-weight: 600;
    border: 1px solid shade (#f7f7f7, 0.95);
}

.media-control {
    background-color: #f7f7f7;
}

.quick-find-modebutton button {
    border: 1px solid @colorPrimary;
    color: @colorPrimary;
    background-image: none;
}

.quick-find-modebutton button:checked {
    background-color: @colorPrimary;
    color: #ffffff;
}

.quick-find-modebutton button:first-child {
    border-left: 1px solid @colorPrimary;
    border-top: 1px solid @colorPrimary;
    border-bottom: 1px solid @colorPrimary;
    border-right: none;
    border-radius: 4px 0px 0px 4px;
}


.quick-find-modebutton button:last-child {
    border-left: none;
    border-top: 1px solid @colorPrimary;
    border-bottom: 1px solid @colorPrimary;
    border-right: 1px solid @colorPrimary;
    border-radius: 0px 4px 4px 0px;
}

.quick-find-add-radio {
    border-radius: 50%;
    padding: 0px;
    background-color: @colorPrimary;
    color: #ffffff;
    border: 1px solid @colorPrimary;
}

.search-title {
    color: @colorPrimary;
}

.planner-radio radio:checked {
    background-image:
         linear-gradient(
             to bottom,
             shade (
                 @colorPrimary,
                 1.2
             ),
             @colorPrimary
         );
    border-color: shade (@colorPrimary, 0.9);
    box-shadow:
        inset 0 0 0 1px shade (@colorPrimary, 1.15),
        inset 0 1px 0 0 shade (@colorPrimary, 1.3),
        0 1px 1px 0 shade (@bg_color, 0.85);
    -gtk-icon-shadow: 0 1px 1px shade (@colorPrimary, 0.85);
}

.planner-radio radio:focus {
    border-color: @colorPrimary;
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        0 0 2px 1px alpha (@colorPrimary, 0.5);
    transition: all 100ms ease-out;
}

.planner-radio radio:checked:focus {
    border-color: shade (@colorPrimary, 0.8);
    box-shadow:
        inset 0 0 0 1px shade (@colorPrimary, 1.15),
        inset 0 1px 0 0 shade (@colorPrimary, 1.3),
        0 0 2px 1px alpha (@colorPrimary, 0.5),
        0 1px 1px 0 shade (@bg_color, 0.85);
}

.planner-check check:checked {
    background-image:
         linear-gradient(
             to bottom,
             shade (
                 @colorPrimary,
                 1.2
             ),
             @colorPrimary
         );
    border-color: shade (@colorPrimary, 0.9);
    box-shadow:
        inset 0 0 0 1px shade (@colorPrimary, 1.15),
        inset 0 1px 0 0 shade (@colorPrimary, 1.3),
        0 1px 1px 0 shade (@bg_color, 0.85);
    -gtk-icon-shadow: 0 1px 1px shade (@colorPrimary, 0.85);
}

.planner-check check:focus {
    border-color: @colorPrimary;
    box-shadow:
        inset 0 1px 0 0 alpha (@inset_dark_color, 0.7),
        inset 0 0 0 1px alpha (@inset_dark_color, 0.3),
        0 0 2px 1px alpha (@colorPrimary, 0.5);
    transition: all 100ms ease-out;
}

.planner-check check:checked:focus {
    border-color: shade (@colorPrimary, 0.8);
    box-shadow:
        inset 0 0 0 1px shade (@colorPrimary, 1.15),
        inset 0 1px 0 0 shade (@colorPrimary, 1.3),
        0 0 2px 1px alpha (@colorPrimary, 0.5),
        0 1px 1px 0 shade (@bg_color, 0.85);
}

.sort-button {
    color: @colorPrimary;
    border-radius: 6px;
}

.playing-ani-color {
    background-color: #fff;
    color: @colorPrimary;
    border-radius: 50px;
    padding: 3px;
    border: 1px solid @colorPrimary;
}

.options-button {
    color: @colorPrimary;
    border-radius: 4px;
    padding: 2px;
}

.remove-button {
    background-color: @colorPrimary;
    color: #ffffff;
    border-radius: 50%;
    padding: 0px;
}

.remove-button image {
    transition: all 240ms ease-in-out;
}

.remove-button.closed image {
    -gtk-icon-transform: rotate(-90deg);
}

.add-playlist {
    background-color: @colorPrimary;
    color: #fff;
    border-radius: 4px;
}

.add-playlist-entry {
    border-color: alpha (@colorPrimary, 0.8);
    box-shadow: none;
    background-image: none;
    background: #F6F8FB;
    color: @colorPrimary;
}

.icon-color-primary {
    color: @colorPrimary;
}

.track-options:hover {
    background-color: @colorPrimary;
    color: #ffffff;
}

.track-options:hover image {
    color: #ffffff;
}

overshoot.top {
    background:
        linear-gradient(
            to top,
            alpha(@colorPrimary, 0) 80%,
            alpha(@colorPrimary, 0.25) 100%
        );
}

overshoot.right {
    background:
        linear-gradient(
            to right,
            alpha(@colorPrimary, 0) 80%,
            alpha(@colorPrimary, 0.25) 100%
        );
}

overshoot.bottom {
    background:
        linear-gradient(
            to bottom,
            alpha(@colorPrimary, 0) 80%,
            alpha(@colorPrimary, 0.25) 100%
        );
}

overshoot.left {
    background:
        linear-gradient(
            to left,
            alpha(@colorPrimary, 0) 80%,
            alpha(@colorPrimary, 0.25) 100%
        );
}

.label-color-primary {
    color: @colorPrimary;
}

.mode-button image {
    color: @colorPrimary;
}

.label-white {
    color: #fff;
}

.byte-textview text {
    background-color: @bg_color;
}

.playlist-entry {
    background-color: @bg_color;
}

.no-padding {
    padding: 0px;
}
