@define-color color_primary #fe2851;
@define-color accent_color @color_primary;
.title,
.titlebutton,
.image-button {
    color: #f2f2f2;
    text-shadow: 0 1px #981831;
}

.border-radius {
    border-radius: 6px;
}

.font-bold {
    font-weight: bold;
}

.font-bold label {
    font-weight: bold;
}

.primary-color {
    color: @color_primary;
}

.main-child-item:selected {
    background-color: transparent;
    color: @text_color
}

.album {
    background-image:
        linear-gradient(
            170deg,
            alpha (
                @highlight_color,
                0.1
            ),
            alpha (
                @highlight_color,
                0.15
            ) 43%,
            alpha (
                @highlight_color,
                0
            ) 44%
        ),
        -gtk-icontheme("audio-x-generic-symbolic"),
        linear-gradient(
            to bottom,
            @base_color,
            @base_color
        );
    background-size: cover, 50%, cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: alpha (@insensitive_fg_color, 0.75);
}

.secion-header-iction {
    color: @color_primary;
    -gtk-icon-transform: rotate(-180deg);
}

.back-section-button {
    border-radius: 24px;
    background-color: @fg_color;
    color: @bg_color;
    border: none;
    padding: 3px;
}

.arrow-icon {
    -gtk-icon-transform: rotate(-180deg);
}