@define-color colorPrimary #FE639E;
@define-color textColorPrimary #fafafa;

.titlebar {
    padding: 6px 6px;
}

.repeat-button {
    border-bottom: none;
    padding: 0 8px;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: transparent;
}

.actionbar {
    background-color: #FE639E;
}

.actionbar image {
    color: #FAFAFA;
}

.byte-seekbar highlight {
    background-color: #FE639E;
}

.track-row:selected {
    background-color: #FE639E;
    text-shadow: none;
    -gtk-icon-shadow: none;
    color: @color_text;
}

.slider-button {
    padding: 1px 6px 1px 6px;
    border-radius: 50px;
    border: none;
}

.slider-button.active {
    color: #FE639E;
}
